<!doctype html>
<html data-bs-theme="dark" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Latex Plain Text Converter</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  </head>
  <body class="bg-body-secondary">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-center">
        <span class="navbar-brand h1">The Latex Plain Text Converter</span>
    </nav>
    <div class="card  m-5 bg-dark">
      <div class="card-body">
        <h4 class="card-title">Input Text :</h4>
        <form action="/" method="POST" id="myform">
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Enter Copied Plain Text Latex" name="copiedText" required="required"
            onchange = "myHandler();" onkeypress = "this.onchange();" onpaste = "this.onchange();" oninput = "this.onchange();">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div></div>
    <div class="card-columns">
    <div class="card m-5">
      <div class="card-body">
        <h4 class="card-title">Original Text :</h4>
        <p class="card-text">{{input_txt}}</p>
      </div>
    </div>
  <div class="card m-5">
      <div class="card-body">
        <h4 class="card-title">Output Text :</h4>
        <p class="card-text">{{output_txt}}</p>
      </div>
    </div>
    </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  </body>
</html>