<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latex Plain Text Converter</title>
</head>
<body>
<h1 style="text-align: center"><u>Latex Character Converter</u></h1>
<form action="/" method="POST" id="myform">
    <h2>Input Text :</h2>
    <input type="text" placeholder="Enter Copied Plain Text Latex" name="copiedText" required="required">
</form>
<h2>Original Text :</h2>
<p>{{ input_txt }}</p>
<h2>Output Text :</h2>
<p>{{ output_txt }}</p>
</body>
</html>